<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70180608753-ios4pk8di5hc6d1ec89im5fs06rh2dnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70180608753-ios4pk8di5hc6d1ec89im5fs06rh2dnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBtv0XxEQLWGQW7uAybzHt-4WeKoqFN92k</string>
	<key>GCM_SENDER_ID</key>
	<string>70180608753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bynand.bynandapp</string>
	<key>PROJECT_ID</key>
	<string>repboerse-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>repboerse-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70180608753:ios:b5ee236dbc1a83fb426750</string>
	<key>DATABASE_URL</key>
	<string>https://repboerse-staging.firebaseio.com</string>
</dict>
</plist>